################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Athena_Engine/obj
/Console tests/bin/Debug/netcoreapp3.1
/Console tests/obj
/Athena_Engine/bin/Debug/netstandard2.0
/Console tests/bin/Release/netcoreapp3.1
/Athena_Engine/bin/Release/netstandard2.0
